<!--#begin options -->
<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="{ babAddonTarget }/admin" />
<table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		<tr> 
			<td>
				<p><label>
					<!--#if topic -->
					<input type="checkbox" name="topic" value="1" style="vertical-align:middle" checked="checked" /> 
					<!--#else topic -->
					<input type="checkbox" name="topic" value="1" style="vertical-align:middle" /> 
					<!--#endif topic -->
					{ t_topic }</label>
				</p>
				<p><label>
					<!--#if readmore -->
					<input type="checkbox" name="readmore" value="1" style="vertical-align:middle" checked="checked" /> 
					<!--#else readmore -->
					<input type="checkbox" name="readmore" value="1" style="vertical-align:middle" /> 
					<!--#endif readmore -->
					{ t_readmore }</label>
				</p>
				<p align="center"><input type="submit" value="{ t_save }" /></p>
			</td>
		</tr>
	</table>
</td>
</tr>
</table>
</form>
<br />

<!--#end options -->